Node-Flow-Backup/flows.json
[
    {
        "id": "1b296c4627873640",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2ce55cb86a4e3f2",
        "type": "group",
        "z": "1b296c4627873640",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "abde1059bdf38b12",
            "44053ca48aa38bae",
            "c192c5d2729b3670",
            "d32c52948115c2e1",
            "469e54c64f746433",
            "9ec7985ebdb050ec",
            "db3f327afa04ae5c",
            "cdf2d0c9b072b931"
        ],
        "x": 34,
        "y": 539,
        "w": 832,
        "h": 242
    },
    {
        "id": "b5058df033973501",
        "type": "mqtt in",
        "z": "1b296c4627873640",
        "name": "",
        "topic": "m5stack/prediction",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a4c3fa13baea7006",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "caa3c1ed0eace8e9",
                "e8716e2ea9bbe726",
                "e421d171ce4b56f0"
            ]
        ]
    },
    {
        "id": "caa3c1ed0eace8e9",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "Is arm-swing",
        "func": "if (msg.payload.label === \"arm-swing\") {\n    msg.payload = true\n}\nelse {\n    msg.payload = false\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 60,
        "wires": [
            [
                "50ae8655026e06db",
                "f493d3013260981e"
            ]
        ]
    },
    {
        "id": "c192c5d2729b3670",
        "type": "ui_dropdown",
        "z": "1b296c4627873640",
        "g": "e2ce55cb86a4e3f2",
        "name": "",
        "label": "ระยะเวลาแกว่งแขน",
        "tooltip": "",
        "place": "Select option",
        "group": "3b61a7b50828117c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "20 วินาที",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30 วินาที",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40 วินาที",
                "value": 40,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "time",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "db3f327afa04ae5c"
            ]
        ]
    },
    {
        "id": "44053ca48aa38bae",
        "type": "ui_switch",
        "z": "1b296c4627873640",
        "g": "e2ce55cb86a4e3f2",
        "name": "",
        "label": "เปิด/ปิด",
        "tooltip": "",
        "group": "3b61a7b50828117c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "9ec7985ebdb050ec"
            ]
        ]
    },
    {
        "id": "abde1059bdf38b12",
        "type": "ui_dropdown",
        "z": "1b296c4627873640",
        "g": "e2ce55cb86a4e3f2",
        "name": "",
        "label": "เตือนทุกๆ",
        "tooltip": "",
        "place": "Select option",
        "group": "3b61a7b50828117c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "5  วินาที",
                "value": 5,
                "type": "num"
            },
            {
                "label": "1 ชั่วโมง",
                "value": 60,
                "type": "num"
            },
            {
                "label": "2 ชั่วโมง",
                "value": 120,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "every",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "469e54c64f746433"
            ]
        ]
    },
    {
        "id": "d32c52948115c2e1",
        "type": "mqtt out",
        "z": "1b296c4627873640",
        "g": "e2ce55cb86a4e3f2",
        "name": "",
        "topic": "nodered/message",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4c3fa13baea7006",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "469e54c64f746433",
        "type": "function",
        "z": "1b296c4627873640",
        "g": "e2ce55cb86a4e3f2",
        "name": "format",
        "func": "msg.payload = {every : msg.payload};\nreturn msg ; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "cdf2d0c9b072b931"
            ]
        ]
    },
    {
        "id": "db3f327afa04ae5c",
        "type": "function",
        "z": "1b296c4627873640",
        "g": "e2ce55cb86a4e3f2",
        "name": "format",
        "func": "msg.payload = {time : msg.payload};\nreturn msg ; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 660,
        "wires": [
            [
                "cdf2d0c9b072b931"
            ]
        ]
    },
    {
        "id": "9ec7985ebdb050ec",
        "type": "function",
        "z": "1b296c4627873640",
        "g": "e2ce55cb86a4e3f2",
        "name": "format",
        "func": "msg.payload = {switch : msg.payload};\nreturn msg ; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 720,
        "wires": [
            [
                "cdf2d0c9b072b931"
            ]
        ]
    },
    {
        "id": "cdf2d0c9b072b931",
        "type": "json",
        "z": "1b296c4627873640",
        "g": "e2ce55cb86a4e3f2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 660,
        "wires": [
            [
                "d32c52948115c2e1"
            ]
        ]
    },
    {
        "id": "e8716e2ea9bbe726",
        "type": "ui_text",
        "z": "1b296c4627873640",
        "group": "22443693a0ace1f0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "แกว่งแขนทุกๆ",
        "format": "{{msg.payload.every/1000}} วินาที",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "e421d171ce4b56f0",
        "type": "ui_text",
        "z": "1b296c4627873640",
        "group": "22443693a0ace1f0",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "แกว่งแขนเป็นเวลา",
        "format": "{{msg.payload.time/1000}} วินาที",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "8be458a6a8850cc7",
        "type": "mqtt in",
        "z": "1b296c4627873640",
        "name": "",
        "topic": "m5stack/taskstate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a4c3fa13baea7006",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "303fb959f2877717",
                "2c413dd635be2e8e",
                "85b5603763dbc13b",
                "6084855d671db4e8"
            ]
        ]
    },
    {
        "id": "471cd5c576266e73",
        "type": "ui_text",
        "z": "1b296c4627873640",
        "group": "22443693a0ace1f0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "สถานะการนับเวลา",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "d1f9ba2f194063ad",
        "type": "ui_text",
        "z": "1b296c4627873640",
        "group": "22443693a0ace1f0",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ท่าทางปัจจุบัน",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "4187cbdbcc1f1531",
        "type": "ui_gauge",
        "z": "1b296c4627873640",
        "name": "",
        "group": "22443693a0ace1f0",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Time remaining ",
        "label": "second",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "303fb959f2877717",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "format",
        "func": "msg.payload = msg.payload.remain_pro / 1000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "4187cbdbcc1f1531"
            ]
        ]
    },
    {
        "id": "f61a555f226aa085",
        "type": "ui_gauge",
        "z": "1b296c4627873640",
        "name": "",
        "group": "22443693a0ace1f0",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Next Round",
        "label": "second",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "2c413dd635be2e8e",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "format",
        "func": "msg.payload = msg.payload.remain_next / 1000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 400,
        "wires": [
            [
                "f61a555f226aa085"
            ]
        ]
    },
    {
        "id": "50ae8655026e06db",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "format",
        "func": "if (msg.payload) {msg.payload = \"กำลังแกว่งแขน\"}\nelse {msg.payload = \"ไม่ได้ขยับร่างกาย\"}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 60,
        "wires": [
            [
                "d1f9ba2f194063ad"
            ]
        ]
    },
    {
        "id": "85b5603763dbc13b",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "format",
        "func": "if (msg.payload.state === \"off\") { msg.payload = \"ปิดการทำงาน\"}\nelse if (msg.payload.state === \"start\") { msg.payload = \"เริ่มนับเวลา\"}\nelse if (msg.payload.state === \"running\") { msg.payload = \"ถึงเวลาแกว่งแขน\" }\nelse if (msg.payload.state === \"stop\") { msg.payload = \"หยุดนับเวลา\" }\nelse if (msg.payload.state === \"waiting\") { msg.payload = \"ช่วงพัก\" }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "471cd5c576266e73"
            ]
        ]
    },
    {
        "id": "6084855d671db4e8",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "Alert",
        "func": "if (msg.payload.state === \"running\") {\n    if (flow.get(\"predict\") === false){\n        msg.payload = {alert: true}\n        return msg\n    }\n}\nmsg.payload = { alert: false }\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "f48593cb403a780a",
                "94c13a978d266324"
            ]
        ]
    },
    {
        "id": "f493d3013260981e",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "Store predict value",
        "func": "flow.set(\"predict\",msg.payload)",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "8b8efd1176985816",
        "type": "mqtt out",
        "z": "1b296c4627873640",
        "name": "",
        "topic": "home/buzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4c3fa13baea7006",
        "x": 1070,
        "y": 240,
        "wires": []
    },
    {
        "id": "f48593cb403a780a",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "convert to string",
        "func": "if (msg.payload.alert == true) {\n    msg.payload = \"แจ้งเตือน!!!\"\n}else {\n    msg.payload = \"\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "eb1fd395febb38ab"
            ]
        ]
    },
    {
        "id": "eb1fd395febb38ab",
        "type": "ui_text",
        "z": "1b296c4627873640",
        "group": "22443693a0ace1f0",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "สถานะการแจ้งเตือน",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "94c13a978d266324",
        "type": "function",
        "z": "1b296c4627873640",
        "name": "Convert Message",
        "func": "if (msg.payload.alert === true) {\n    msg.payload = \"on\"\n}else {\n    msg.payload = \"off\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 240,
        "wires": [
            [
                "8b8efd1176985816"
            ]
        ]
    },
    {
        "id": "1e40637ec60bd562",
        "type": "ui_spacer",
        "z": "1b296c4627873640",
        "name": "spacer",
        "group": "3b61a7b50828117c",
        "order": 1,
        "width": 10,
        "height": 1
    },
    {
        "id": "e6cb2a9c9bc9e3cf",
        "type": "ui_spacer",
        "z": "1b296c4627873640",
        "name": "spacer",
        "group": "3b61a7b50828117c",
        "order": 2,
        "width": 10,
        "height": 1
    },
    {
        "id": "a4c3fa13baea7006",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.213",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3b61a7b50828117c",
        "type": "ui_group",
        "name": "Control",
        "tab": "ad763135c53dfa19",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "22443693a0ace1f0",
        "type": "ui_group",
        "name": "Display",
        "tab": "ad763135c53dfa19",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad763135c53dfa19",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]